header, main, footer {
	width: 90%;
	margin: 0 auto;
    font-family: sans-serif;
}
footer {
	font-size: .8em;
	color: grey;
}
footer a {
	color: gray;
	text-decoration-style: dashed;
}
footer p {
	padding-top: 2em;
}
h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
header p {
  margin-top: 0.2em;
  font-size: .9em;
}
.gray {
	color: grey;
}
#menu select {
  	font-size: 1em;
	background-color: white;
	padding: .2em;
}
/*
#menu select:last-child {
	margin-left: 1em
}
*/
// Элементы графика
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: .6em;
}
.area path {
    fill: #bae4b3;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
/* Оформление таблицы */
table {
	border-collapse: collapse;
}
table tr {
  border-top: 1px solid #DEE2DE;
}

tbody {
  text-align: center;
}
tbody tr:hover {
	background-color: #f7fcf5; 
}

table td:first-child, th:first-child {
  text-align: left;
}
table caption {
    text-align: right;
    color: grey;
    font-size: .8em;
}
thead th {
  font-size: .9em;
  font-weight: normal;
  padding: .2em;
}

