header, main, footer {
	width: 80%;
	margin: 0 auto;
}
footer {
	font-size: .8em;
	color: grey;
}
footer a {
	color: gray;
	text-decoration-style: dashed;
}
footer p {
	padding-top: 2em;
}
h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
header p {
  margin-top: 0.2em;
  font-size: .8em;
}
.gray {
	color: grey;
}
select:last-child {
	margin-left: 1em
}
// Элементы графика
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: .5em;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
table {
  font-size: .8em;
}
table td {
  text-align: center;
}
table td:first-child, th:first-child {
  text-align: left;
}
